* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    background-color: #e1e1e1;
}
.container {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}
.aside {
    background-color: white;
    width: 28rem;
    margin-left: 20px;
}
.pic {
    position: relative;
    /* width: 500px; */
    height: 300px;
}
.span1 {
    position: absolute;
    font-size: 35px;
    margin-top: -58px;
    margin-left: 22px;
}
.aside1 {
    border-bottom: 1px solid #e1e1e1;
    margin-left: 10px;
}
.imagee {
    width: 20px;
    margin-left: 8px;
}
.spann {
    margin-top: -20px;
    margin-left: 35px;
    color: gray;
}
.temp {
    margin-top: -7px;
}
.h2 {
    font-size: 20px;
    color: grey;
    margin-top: -26px;
    margin-left: 35px;
}
.Temp {
    margin-bottom: 30px;
 }
.temp1 {
    margin-left: 10px;
    margin-bottom: -15px;
    padding: 10px;
}
.paragraf {
    color: gray;
    margin-left: 10px;
}
.prog1 {
    background-color: #e1e1e1;
    border-radius: 40px;
    margin-left: 10px;
    width: 90%;
    height: 20px;
}
.progres1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #009688;
    color: white;
    border-radius: 40px;
    width: 90%;
    height: 20px;
}
.prog2 {
    background-color: #e1e1e1;
    border-radius: 40px;
    margin-left: 10px;
    width: 90%;
    height: 20px;
}
.progres2 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #009688;
    color: white;
    border-radius: 40px;
    width: 80%;
    height: 20px;
}
.prog3 {
    background-color: #e1e1e1;
    border-radius: 40px;
    margin-left: 10px;
    width: 90%;
    height: 20px;
}
.progres3 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #009688;
    color: white;
    border-radius: 40px;
    width: 75%;
    height: 20px;
}
.prog4 {
    background-color: #e1e1e1;
    border-radius: 40px;
    margin-left: 10px;
    width: 90%;
    height: 20px;
}
.progres4 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #009688;
    color: white;
    border-radius: 40px;
    width: 50%;
    height: 20px;
}
.pro1 {
    background-color: #e1e1e1;
    border-radius: 40px;
    margin-left: 10px;
    width: 90%;
    height: 25px;
}
.progress1 {
    background-color: #009688;
    color: white;
    border-radius: 40px;
    width: 100%;
    height: 25px;
}
.pro2 {
    background-color: #e1e1e1;
    border-radius: 40px;
    margin-left: 10px;
    width: 90%;
    height: 25px;
}
.progress2 {
    background-color: #009688;
    color: white;
    border-radius: 40px;
    width: 50%;
    height: 25px;
}
.pro3 {
    background-color: #e1e1e1;
    border-radius: 40px;
    margin-left: 10px;
    width: 90%;
    height: 25px;
    margin-bottom: 10px;
}
.progress3 {
    background-color: #009688;
    color: white;
    border-radius: 40px;
    width: 25%;
    height: 25px;
}
header{
    display: flex;
    flex-direction: row;
    padding-left: 10px;
}
.img {
    margin-top: 20px;
    width: 50px;
    height: 40px;
}
h1 {
   font-size: 30px;
   color: gray;
   padding-left: 20px;
}
h2 {
    font-size: 20px;
   color: grey;
}
.main {
    display: flex;
    flex-direction: column;
    padding-left: 15px;
    border-bottom: 1px solid #e1e1e1;
}
.image {
    width: 20px;
    height: 20px;
    margin-top: 5px;
}
.span {
    padding-left: 30px;
    margin-top: -18px; 
    color: #009688;
}
.btn {
    width: 60px;
    background-color: #009688;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px;
    margin-left: 100px;
    margin-top: -20px;
}
.main:last-child {
    border-bottom: none;
}
.body {
    width: 100vh;
    margin-bottom: 20px;
    margin-left: 20px;
}
.header {
    background-color: white;
    margin-bottom: 10px;
}
.header1 {
    background-color: white;
}
.img1 {
    margin-top: 20px;
    margin-left: 12px;
    height: 40px;
}
.h1 {
    margin-top: -40px;
    margin-left: 50px;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #009688;
    margin-top: 5px;
    /* margin-left: 20px;
    width: 28rem; */
}
.p-footer {
    color: white;
}
@media (max-width: 768px){
    .container {
        flex-direction: column;
    }
    aside {
        margin-bottom: 10px;
    }
    .body {
        width: 28rem;
        margin-bottom: 5px;
    }
    footer {
        margin-left: 20px;
        width: 28rem;
    }
}